{% extends "base.html" %}
{% block title %}File Hosting{% endblock %}
{% block content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">File Hosting</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				{% if user == "None" %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('login') }}">sign in</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('registration') }}">sign up</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('personal', user = user) }}">
							<i class="fas fa-user"></i>{{user}}
						</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<p class="index-title">File Hosting</p>
	<p class="index-subtitle">your simple file base! :)</p>
{% endblock %}