{% extends "base.html" %}
{% block title %}{{user}}'s settings{% endblock %}
{% block content %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="{{ url_for('index') }}">File Hosting</a>
	</nav>

	<h2 class="registration-title my-5">{{user}}'s personal cabinet</h2>
	<div class="container">
		<div class="row">
			<div class="col">
				<p class="registration-lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col">
				<div class="card bg-light text-dark">
					<div class="card-header bg-secondary text-white">
						<h6>File Hosting</h6>
					</div>
					<div class="card-body">
						<form method="POST">
							<div class="form-group">
								<label for="exampleInputLogin">Name</label>
								<input type="text" name="name" class="form-control reg" id="exampleInputLogin" placeholder="Enter your name" required>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword">Surname</label>
								<input type="text" name="surname" class="form-control reg" id="exampleInputPassword" placeholder="Enter your surname" required>
							</div>
							<button type="submit" class="btn btn-success">Save</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}