body {
	color: #f5f5f5;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

/* Index Template */

.index-title {
	width: max-content;
	margin: 30vh auto 0;
	font-size: 15vh;
}

.index-subtitle {
	width: max-content;
	margin: 0 auto;
	font-size: 4vh;
}


/* Login Template */

.login-title {
	text-align: center;
}

.login-lorem {
	font-size: larger;
}

/* Registration Template */

.registration-title {
	text-align: center;
}

.registration-lorem {
	font-size: larger;
}

/* Personal Template */

.personal-images {
	border: 2px solid white;
	min-height: 200px;
	padding: 30px 0;
	width: 80%;
}

.personal-show-file-image {
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* Media Queries */

@media screen and (max-width: 500px){
	body {
		height: unset;
	}

	.index-title {
		font-size: 9vh;
	}

	.registration-lorem, .login-lorem {
		display: none;
	}
}

/* Other */
.error {
	color: red;
	font-weight: bold;
}

.fas {
	margin: 10px 5px 0 0;
}

.dropdown-menu {
	left: auto;
	right: 5px;
}